<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p> 

<%= link_to 'Back', products_index_path %>
<div>
<% if @product.price %>
<p class="list-item">
  <%= number_to_currency @product.price %>
  <%= link_to "Buy now", new_order_path(product_id: @product_id) %>
</p>
<% end %>
