<!DOCTYPE html>
<html>
  <head>
    <title>Motorbikes R Us</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">


      <div class="columns">
        <div class="column">
          HOME
        </div>
        <div class="column">
          PRODUCTS
        </div>
        <div class="column">
          <%= link_to 'SIGN UP' %>
        </div>
        <div class="column">
          <%= link_to 'LOGIN' %>
        </div>
        <div class="column">
          <%= link_to 'Shopping Cart' %>
          </div>
      </div>
  </nav>
  </section>
    <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div>
  </body>
</html>
